@charset "utf-8";

/* Author: K.Engel */



/* Reset & Patches */

/* Schriftformate */

/* Hauptelemente */
h1 {
    display: flex;
    align-content: center;
    justify-content: center;
}
s
.list {
    display: flex;
}

ul {
list-style:
}
/* Nebenelemente */

/* Navigation */

/* Kleinkram */
