@charset "utf-8";

/* Author: K.Engel */

/* Reset & Patches */

* {
  /* Universalselektor: Wählt ALLE HTML-Elemente aus */
  margin: 0; /* Aussenabstände auf 0 setzen */
  padding: 0; /* Innenabstände auf 0 setzen */
  font-size: 100%; /* Schriftgröße = Voreinstellungen des jeweiligen Gerätes */
  font-weight: normal; /* Strichstärke normal */
}

/* Schriftformate */

h1 {
  font-size: 2.5em; /* 2.5em bedueted 250% */
  font-family: Helvetica, Arial, "sans-serif";
  color: #ccc;
}

/* Hauptelemente */

table {
  border-collapse: collapse;
  border: 2px solid rgb(19 140 140);
  font-family: sans-serif;
  font-size: 0.8rem;
  letter-spacing: 1px;
}

th,
td {
  border: 1px solid rgb(160 160 160);
  padding: 9px 180px;
}

td {
  text-align: center;
}

th[scope="col"]{
  background-color: #505050;
  color: white;
}

th[scope="row"]{
    background-color: #d6ecd4;
}
/* Nebenelemente */

/* Navigation */

/* Kleinkram */
