@charset "utf-8";

/* Author: K.Engel */



/* Reset & Patches */

* {
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-weight: normal;

}

/* Schriftformate */
h1, h2 {
    font-size: 2.5em;
    font-family: "Ubuntu" ,Helvetica, Arial, 'sans-serif';
    font-weight: 510;
    color: #ccc;
}

h2 {
    font-size: 2em;
}

p {
  font-family: "Atkinson Hyperlegible Mono", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: medium;
}
/* Hauptelemente */

.wrapper {
    max-width: 1500px;
    background-color: red;
    margin: 2em auto 5em auto;
}

header {
    background-color: aqua;
}

footer {
    background-color: forestgreen;
}

article {
 background-color: yellow
}
/* Nebenelemente */

/* Navigation */

/* Kleinkram */
