@charset "utf-8";

/* Author: K.Engel */

/* Reset & Patches */

* {
	margin: 0;
	padding: 0;
	font-size: 100%;
	font-weight: normal;
}

/* Schriftformate */

p,
h1,
h2,
h3,
li {
	color: #112a02;
}

p,
table,
nav,
li {
	font-family: "SN Pro";
}

h1,
h2 {
	font-size: 400%;
	font-family: "Fuzzy Bubbles", system-ui;
	font-weight: 400;
	font-style: normal;
}

h2 {
	font-size: 225%;
	border-left: solid 3px;
	padding-left: 0.2em;
	margin-bottom: 0.3em;
	margin-top: 0.7em;
}

li {
	font-size: 120%;
	padding-bottom: 1em;
}

/* Hauptelemente */

.wrapper {
	padding: 1em;
	max-width: 1500px;
	background-color: #d5dfc9;
	margin: 2em auto 5em auto;
}

header {
	background-color: #dfc9c9;
	padding-bottom: 1em;
}

article {
	background-color: #d1d4dd;
}

.step {
	font-family: "Playpen Sans", sans-serif;
	padding-left: 1em;
}

.infotable {
	display: flex;
}

table {
	padding-left: 1em;
	border-spacing: 0;
}

td {
	background-color: #ffffff;
	padding: 0.7em;
}

th {
	background-color: #67c72b;
	color: white;
	padding: 0.7em;
}

footer {
	background-color: #d8c9df;
}

/* Nebenelemente */

/* Navigation */

/* Kleinkram */

.half {
	size: 50%;
}

.flex {
	display: flex;
}

.dark {
	background-color: #88999d;
}

.column {
	flex-direction: column;
}

.fend {
	align-self: flex-end;
}

.jcc {
	justify-content: center;
}

.alt {
	font-family: "SN Pro", sans-serif;
}
