@charset "utf-8";

/* Author: K.Engel */

/* Reset & Patches */

* {
	margin: 0;
	padding: 0;
	font-size: 100%;
	font-weight: normal;
}

/* Schriftformate */

h1 {
	font-size: 500%;
	color: #b8c8e8;
	font-family: "Baumans", system-ui;
	font-weight: 400;
	font-style: normal;
}

h2 {
	color: #b8c8e8;
	font-size: 225%;
	margin-left: 0.5em;
}

li {
		color: #b8c8e8;
}

/* Hauptelemente */

body {
	background-color: #1f2327;
}

.wrapper {
	max-width: 1500px;
	background-color: #451f1f;
	margin: 2em auto 5em auto;
}

header {
	background-color: #3b451f;
}

.nav {
	display: flex;
	justify-content: center;
	align-items: stretch;
	align-content: stretch;
	background-color: #304040;
	font-size: 125%;
}

.navitm {
	flex-grow: 1;

}

article {
	padding: 2em;
}

/* Nebenelemente */

/* Navigation */

/* Kleinkram */

.flex {
	display: flex;
	justify-content: center;
}
