@charset "utf-8";

/* Author: K.Engel */



/* Reset & Patches */

* {
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-weight: normal;
}

/* Schriftformate */

/* Hauptelemente */
section {
    background-image: url(../Medien/industrial.jpg);
    background-size: contain;
}

img {
    max-width: 80%;
}
div {
    position: absolute;
    height: auto;
    top: 14vh;
}
a {
    font-size: 400%
}
/* Nebenelemente */

/* Navigation */

/* Kleinkram */
