@charset "utf-8";

/* Author: K.Engel */



/* Reset & Patches */

* {
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-weight: normal;
}

/* Schriftformate */

/* Hauptelemente */
body {
    background-image: url(../Medien/Patternsamelses.jpg)
}

img {
    size: 70%;
}
/* Nebenelemente */

/* Navigation */

/* Kleinkram */
