@charset "utf-8";

/* Author: K.Engel */



/* Reset & Patches */

* {
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-weight: normal;
}

/* Schriftformate */

/* Hauptelemente */
body {
    background-image: url(../Medien/Patternsamelses.jpg);
    background-size: contain;
    background-attachment: fixed;
}

img {
    max-width: inherit;
}

.B {
    max-width: 80%;

}

.A {
    position: absolute;
    height: auto;
    top: 14vh;
}
a {
    font-size: 400%
}
/* Nebenelemente */

/* Navigation */

/* Kleinkram */
